.DS_Store
.idea/**
*.ipynb
*.pdf
*.iml
*.xml
*.pdf
*.pyc
*.pdf
*.png


*.npz
*.eps
*.npz
bursting_gene/results/fsp_solutions.npz
bursting_gene/results/fim_exact.npz
bursting_gene/results/bursting_parameters.npz
*.zip
